@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --gray: #c4c4c4;
    --yellow: #eea80a;
    --orange: #ff6100;
    --red: #c70402;
    --green: #3c6128;
    --purple: #93679b; */
  }
}

a {
  transition: all 0.25s ease-in;
}

 a:hover {
  color: var(--yellow);
}

.title {
  font-style: italic;
  font-weight: 200;
  margin-bottom: 50px;
}
.justify-text {
  text-align: justify;
  text-justify: inter-word;
}
.main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  max-width: 40%;
}
.carousel {
  cursor: grab;
  overflow: hidden;
}
.carousel-inner {
  display: flex;
}
.carousel-item {
  min-height: 200px;
  min-width: 400px;
  padding: 14px;
}
.carousel-item img {
  width: 100%;
  height: 90%;
  pointer-events: none;
  border-radius: 0.2rem;
}
