.linha {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-bottom: 200px;
}
.linha h1 {
  margin-left: 20%;
}

.accordion {
  margin-bottom: 2rem;

}
.accordion-item {
  display: flex;
  flex-direction: column;
}

.accordion-title{
  display: flex;
  cursor: pointer;
  max-width: 80%;
  margin-left: auto;
}
.accordion-title span {
  width: 10rem;
   text-align: end;
  font-weight: 600;
  position: relative;
  font-size: 3.75rem;
  top: .5rem;
}
.accordion-title h2 {
  font-size: 20px;
  font-style: italic;
  padding-top: .7rem;
  padding-bottom: .8rem;
  padding-left: 8rem;
  border-bottom: 3px solid var(--green);
}
.accordion-info {
  padding-left: 8rem;
  padding-bottom: 2rem;
}

.accordion-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.show {
  max-height: 1000px;
  transition: max-height 1s ease-in-out;
}
.hide {
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.accordion-text { 
  max-width: 520px;
  margin-left: 20%;
  padding-left: 275px;
   text-align: justify;
   text-justify: inter-word;
}